
<section class="create_survey centerwrap">
  <h1><%= @error if @error %></h1>
<form action='/surveys/<%= @url%>' method="POST">
  <ul id="sortable">
    <hr>
    <li><h3><%= @user.email %></h3><input placeholder="Survey Title" class="survey_title" type="text" name="survey[title]"></li>
    <div class="clearfix"></div>
    <hr>
    <li><input type="submit" class="build_survey" value="Build Survey"></li>
  </ul>
</form>

</section>

<ul>
  <li class="question_white" id="draggable">
    <input placeholder="Enter Question" type="text" name="survey[prompts]">
  </li>

  <li class="question_white" id="draggable_2">
    <input placeholder="Enter Question Two" type="test" name="survey[prompts]">
  </li>

  <li class="question_white" id="draggable_3">
    <input placeholder="Enter Question Three" type="text" name="survey[prompts]"></li>
</ul>

