<section class="create_survey centerwrap">
  <h3><%= @user.email %></h3><hr>
  <form action='/user/<%= @user.id%>/build_survey' method="POST" id="survey_form">
    <div class="survey_title">
    <input placeholder="Survey Title" type="text" name="survey[title]"> <input type="submit" class="build_survey" value="Build Survey">
    </div>
    <hr>
  </form>
  <a id="new_q" href="#" >Add New Question</a>
  <div>
  </div>   
</section>
