<section class="create_survey centerwrap">
  <h3><%= @user.email %></h3><hr>
  <form>
    <label for="question[:text]">Text Question</label>
    <input type="checkbox" name="question[:text]">
    <input type="text" name="question[:question]">
    <hr>
    <input type="submit" value="Build Survey">
  </form>
    
</section>
