<section class="home">
<form action="/user" method="POST">
  <input name="user[email]" type="email" placeholder="email@email.com">
  <input name="user[password]" type="password" placeholder="password">
  <input class="login" type="submit" value="login">
  <input class="signup" type="submit" value="create">
</form>
</section> 

