<section class="user centerwrap">
  <h3><%= @user.email %></h3>
  <a href="/user/<%=@user.id%>/create_survey">Create a Survey</a>
  <% if @surveys %>
  <ul> 
    <li><h2>Your Surveys</h2></li>
    <% @surveys.each do |survey|%>
    <li><h5><%=survey[:title]%></h5></li>
    <%end%>
  </ul>
  <%end%>
</section>
